.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login {
  margin: 10px auto 0;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login p {
  font-family: 'Julius Sans One', sans-serif;
}

.logininput {
  height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.searchbar {
  width: 100%;
  height: 75px;
  padding: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchinput {
  width: 40%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.searchbutton {
  height: 36px;
  text-transform: uppercase;
  color: white;
  background-image: radial-gradient(circle at 50%-46%, #737373, #403D39);
  border: none;
  font-family: 'Julius Sans One', sans-serif;
}

.searchbutton:focus {
  outline: 0;
}

.info-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 18px;
  font-weight: 700;
}

.username {
  width: 15%;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: 'Julius Sans One', sans-serif;
}

.content {
  font-weight: 400;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.buzzword {
  width: 15%;
  text-align: right;
  margin-right: 10px;
  font-family: 'Julius Sans One', sans-serif;
}
