body {
  background: rgb(233,233,233);
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login {
  margin: 10px auto 0;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
}

.logininput {
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  text-align: center;
  border-radius: 5px;
}

.logininput:focus {
  outline: 0;
}

.searchbar {
  width: 100%;
  height: 75px;
  padding: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchinput {
  width: 40%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  border: none;
  text-align: center;
  border-radius: 5px;
}

.searchinput:focus {
  outline: 0;
}

.searchbutton {
  height: 36px;
  text-transform: uppercase;
  color: white;
  background-image: radial-gradient(circle at 50%-46%, #737373, #403D39);
  border: none;
  font-family: 'Julius Sans One', sans-serif;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  border-radius: 5px;
}

.searchbutton:focus {
  outline: 0;
}

.searchbutton:hover {
  cursor: pointer;
}

.info-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  min-height: 70px;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  background: white;
}

.info-node:hover {
  box-shadow: 20px 20px 20px rgba(0,0,0,.2);
  cursor: pointer;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgb(233,233,233);
  margin: 0 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 18px;
  font-weight: 700;
}

.username {
  width: 15%;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: 'Julius Sans One', sans-serif;
}

.content {
  font-weight: 400;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.buzzword {
  width: 15%;
  text-align: right;
  margin-right: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.info-container {
  width: 100%;
  height: 73vh;
  overflow: auto;
}

.info-container::-webkit-scrollbar {
  width: 10px;
}
.info-container::-webkit-scrollbar-track {
  background: none; 
}
.info-container::-webkit-scrollbar-thumb {
  background-image: radial-gradient(circle at 50%-46%, #737373, #403D39);
  border-radius: 10px;
}
.info-container::-webkit-scrollbar-thumb:hover {
  background: #53575a;
}
